body {
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

li {
  color: #dcdcdc;
  font-style: italic;
}

